include ../required/required

mixin contact-form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  fieldset(class=spec.__class)&attributes(attributes)
    legend.h5 Datos de contacto
    .row
      .col.col-12
        .form-group
          label(for="name") Nombre
            +required
          input.form-control(id="name" name="name" type="text" required)
          small.form-text.text-muted(id="nameInfo")
      .col.col-6
        .form-group
          label(for="email") Correo electrónico
            +required
          input.form-control(id="email" name="email" type="email" required)
          small.form-text.text-muted(id="emailInfo")
      .col.col-6
        .form-group
          label(for="phone") Teléfono de contacto
            +required
          input.form-control(id="phone" name="phone" type="tel" required)
          small.form-text.text-muted(id="phoneInfo")

